* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading-dots-wrapper {
  padding: 10px; /* Adjust padding as needed */
  min-height: 64px; /* Match the height of your text area */
}

.loading-dots {
  display: flex;
  align-items: flex-start; /* Align to the top */
}

.dot {
  width: 8px;
  height: 8px;
  margin-right: 4px; /* Spacing between dots */
  background-color: #122053;
  border-radius: 50%;
  animation: dotFlashing 1s infinite linear alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    background-color: #122053;
  }
  50%,
  100% {
    background-color: #bcc7ef;
  }
}
